/*------------------------------------------------------------------

[Table of contents]

    Transform origin

-------------------------------------------------------------------*/

/*----*****---- << Transform origin >> ----*****----*/

@mixin transformOrigin($value) {
    -webkit-transform-origin: $value;
    -moz-transform-origin: $value;
    -ms-transform-origin: $value;
    -o-transform-origin: $value;
    transform-origin: $value;
}

/*----*****---- << End transform origin >> ----*****----*/
