/*------------------------------------------------------------------

[Table of contents]

    Linear gradient

-------------------------------------------------------------------*/

/*----*****---- << Linear gradient >> ----*****----*/

@mixin linearGradient($angle, $gradient1, $gradient2) {
    background-color: $gradient2;
    background-image: -webkit-gradient(linear, $angle, from($gradient1), to($gradient2));
    background-image: -webkit-linear-gradient($angle, $gradient1, $gradient2);
    background-image: -moz-linear-gradient($angle, $gradient1, $gradient2);
    background-image: -ms-linear-gradient($angle, $gradient1, $gradient2);
    background-image: -o-linear-gradient($angle, $gradient1, $gradient2);
    background-image: linear-gradient($angle, $gradient1, $gradient2);

    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=$angle,StartColorStr='#{$gradient1}', EndColorStr='#{$gradient2}');
}

/*----*****---- << End linear gradient >> ----*****----*/
