/*------------------------------------------------------------------

[Table of contents]

    Border radius

-------------------------------------------------------------------*/

/*----*****---- << Border radius >> ----*****----*/

@mixin borderRadius($value) {
    -webkit-border-radius: $value;
    -moz-border-radius: $value;
    -ms-border-radius: $value;
    border-radius: $value;
}

/*----*****---- << End border radius >> ----*****----*/
