/*------------------------------------------------------------------

[Table of contents]

    Columns

-------------------------------------------------------------------*/

/*----*****---- << Columns >> ----*****----*/

@mixin columns($value) {
    -webkit-columns: $value;
    -moz-columns: $value;
    columns: $value;
}

/*----*****---- << End columns >> ----*****----*/
